In [ ]:
Introduction to python programming :

In [ ]:
Understanding the variables in python

In [1]:
variables hold certain value assigned to in

SyntaxError: invalid syntax (693082958.py, line 1)

In [2]:
x=2

In [3]:
y=3
z= x+y
print(z)

5

In [ ]:
Rules for decalaring the variables in python:
Rule 1: No Namespaces while declaring the variable names in python

In [4]:
first name = 'Rafi"
print(name)

SyntaxError: unterminated string literal (detected at line 1) (2569003172.py, line 1)

In [6]:
firstname = 'Rafi'
print(firstname)

Rafi

In [7]:

Rule #2
A variable name should not start with a number (**) /* 2 stars is interview question */

2Name = 'Rafi'
print(2Name)

SyntaxError: invalid decimal literal (1355149158.py, line 4)

In [10]:
Name2 = 'Rafi'
print(Name2)

Rafi

In [ ]:
Rule #3 : A variable should not contain any special characters
@ # $ % ^ &

In [11]:
Name@ = 'Raf'
print(Name@)

SyntaxError: invalid syntax (3744892587.py, line 1)

In [ ]:
Inrtoduction to Data Types in Python

In [ ]:
1. strings ---> str

2. Numbers ---> integers --> int and floats (decimals ---1.0. 0.2)

3. list --> list

4. tuples --> tuple

5. Dictionaries --> dict

In [ ]:
Note: python is a case sensitive programming language

In [ ]:
Classification of data types in python:

In [ ]:
Broadly datatypes are classified into 2 categories:

1. mutabale datatypes --> which we can edit / alter --> flexible in nature

2. immutable datatypes --> which we cannot be edit --> these are fixed in nature

In [ ]:
Introduction to string Datatype:

defination: string is a series of characters declared in quotes.

classification : It is classified as an immutable datatype

how to declare the string datatype --> 2 approaches

1. single quote

2. double quote

In [12]:
name = 'joseph'
print(name)

joseph

In [13]:
name2 = "kavya"
print(name2)

kavya

In [ ]:
Introduction to string methods methods:

In [15]:
type(name)

str

In [17]:
type(name2)

str

In [19]:
fullname = 'zeba ansari'
print(fullname)

zeba ansari

#requirement : change case to proper case

In [20]:
print(fullname.title())

Zeba Ansari

In [ ]:
# requirement 2 : I want the entire name in Upper Case

In [21]:
print(fullname.upper())

ZEBA ANSARI

In [ ]:
# lowercase

In [23]:
print(fullname.lower())

zeba ansari